<!DOCTYPE html>
<html>
    <html lang="en"></html>
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SiJeni</title>
    <link rel="stylesheet" href="../style/style.css">
        <body>
            <nav>
                <div class="navbar">
                    <div class="logo"><a href=''>SiJeni</a></div>
                    <div class="menu">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="#layanan">layanan</a></li>
                            <li><a href="#order">cara order</a></li>
                            <li><a href="#contact">contact</a></li>
                            <li><a href="form.html" class="tbl-biru">order</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <form>

                <h1>Formulir Pengiriman</h1><br>
              
                      <label>Nama Penerima</label>
              
                      <input name="nama_penerima" type="text">
              
                      <label>Alamat Pengiriman</label>
              
                      <input name="alamat_pengiriman" type="text">
              
                      <label>Nomor telepon</label>
              
                      <input name="nomor_telepon" type="string">
              
                      <label>Jenis layanan</label>
              
                      <select name="jenis_layanan">
              
                       <option value="Express">Express</option>
              
                       <option value="Reguler">Reguler</option>
              
                      </select>
              
                      <label>Nama Pengirim</label>
              
                      <input name="nama_pengirim" type="text">
              
                      <label>Nomor Telepon</label>
              
                      <input name="no_hp" type="text">
              
                      <button>Order</button>
              
               </form>
               <div id="copyright">
                <div class="wrapper">
                    &copy; 2023. <b>SiJeni</b> All Rights Reserved.
                </div>
            </div>
               <script src="../controller/form.js"></script>
        </body>
    </head>
</html>