<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SiJeni</title>
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
    <nav>
        <div class="navbar">
            <div class="logo"><a href=''>SiJeni</a></div>
            <div class="menu">
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#layanan">layanan</a></li>
                    <li><a href="#order">cara order</a></li>
                    <li><a href="#contact">contact</a></li>
                    <li><a href="form.html" class="tbl-biru">order</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="wrapper">
        <!-- untuk home -->
        <section id="home">
            <img src="https://img.freepik.com/free-vector/delivery-point-abstract-concept-illustration_335657-3937.jpg?w=740&t=st=1694002180~exp=1694002780~hmac=ec6b3e06201f8e797569d18023b85c489e4aa5a78ccbdb5fc7c8e61573875895"/>
            <div class="kolom">
                <p class="deskripsi">Siap antar kemana saja</p>
                <h2>cepat,tepat dan amanah</h2>
                <p>SiJeni berkomitmen untuk memanfaatkan sistem IT yang canggih untuk meningkatkan efesiensi.</p>
                <p>Operasional 365 hari, menjangkau seluruh indonesia, 24 jam melayani keluhan pelanggan, dapat memantau secara real time, sistem klaim yang cepat</p>
            </div>
        </section>

        <!-- untuk layanan -->
        <section id="layanan">
            <div class="container">
                <main class="grid">
                    <h1>Layanan</h1>
                <article>
                <img src="https://img.freepik.com/free-photo/woman-signing-delivery-paper_23-2148674979.jpg?w=900&t=st=1694131868~exp=1694132468~hmac=736aad61adbeb98d83f05f41d6c7c091087519c3caecdf9a842189864866fb16"
                <div class="konten">
                <h2>Express</h2>
                    <p>pengiriman lebih cepat</p>
                </div>
            </article>
            <div class="container">
                <main class="grid">
            <article>
                <img src="https://img.freepik.com/free-photo/close-up-person-signing-parcel-delivery_23-2148944560.jpg?w=900&t=st=1694132150~exp=1694132750~hmac=5b792a67723e90fdd0d097703b1aa927fc6bc7a36317a42d0a21102787d12729"
                <div class="konten ">
                <h2>Reguler</h2>
                    <p>Harga lebih terjangkau</p>
                </div>
            </article>
        </main>
            </div>
            
        </section>

        <!-- untuk rute -->
        <section id="order">
            <div class="tengah">
                <div class="kolom">
                    <h2>Cara Order</h2>
                    <p>Ikuti langkah-langkahnya untuk melakukan pengiriman</p>
                </div>

                <div class="tutor-list">
                    <div class="kartu-tutor">
                        <img src="https://img.freepik.com/free-vector/forms-concept-illustration_114360-4957.jpg?w=740&t=st=1694142670~exp=1694143270~hmac=14b448b824602386cefd8f3fee2c689abef622138f710cf01ee20bd8235cabc5"/>
                        <p>Isi Form Pengiriman</p>
                    </div>
                    <div class="kartu-tutor">
                        <img src="https://img.freepik.com/free-vector/illustrated-cash-delivery-concept_23-2148789201.jpg?w=740&t=st=1694143768~exp=1694144368~hmac=fb7dee87177edfcfe680f57b16beb3b69a05a0d612c1e197695d623bf4b14f39"/>
                        <p>Serahkan Paket ke Drop Point</p>
                    </div>
                    <div class="kartu-tutor">
                        <img src="https://img.freepik.com/free-vector/delivery-truck-carton-boxes-city_23-2147677196.jpg?w=740&t=st=1694144091~exp=1694144691~hmac=8a92dd6fceb0481212b01ff3d0ce966a485aacf46b3556a3ffaf4d3aaa2405c1"/>
                        <p>Paket akan dikirim ke Tujuan</p>
                    </div>
                    <div class="kartu-tutor">
                        <img src="https://img.freepik.com/free-vector/delivery-concept-with-hand-drawn-happy-men_23-2147676487.jpg?w=740&t=st=1694144192~exp=1694144792~hmac=99c51702cd613ff46ab671bbcef3acc2c78c61800fdbe124a7bb8d286a12b512"/>
                        <p>Paket Terkirim</p>
                </div>
            </div>
        </section>

    </div>

    <div id="contact">
        <div class="wrapper">
            <div class="footer">
                <div class="footer-section">
                    <h3>SiJeni</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint, culpa!</p>
                </div>
                <div class="footer-section">
                    <h3>About</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint, culpa!</p>
                </div>
                <div class="footer-section">
                    <h3>Contact</h3>
                    <p>Jl. Kaligawe Raya</p>
                    <p>Kode Pos: </p>
                </div>
                <div class="footer-section">
                    <h3>Social</h3>
                    <p><b>YouTube: </b>capston project</p>
                </div>
            </div>
        </div>
    </div>

    <div id="copyright">
        <div class="wrapper">
            &copy; 2023. <b>SiJeni</b> All Rights Reserved.
        </div>
    </div>
   <!-- <script>
       const order=document.querySelector(".tbl-biru")
    order.addEventListener("mouseenter", function() {
    order.style.backgroundColor = "#544845";

    });
        order.addEventListener("mouseleave", function() {
        order.style.backgroundColor = "#3f72af";
    });
   </script>  -->
   <script>
   const ubahMenu = document.querySelectorAll("li");
   for (let i = 0; i<4; i++) {
       ubahMenu [i].addEventListener("mouseenter", function() {
           ubahMenu[i].style.backgroundColor = "white";
           ubahMenu[i].style.borderRadius = "10px";
           ubahMenu[i].style.marginTop = "10px";
           ubahMenu[i].style.height = "50px";
       });
       ubahMenu[i].addEventListener("mouseleave", function() {
           ubahMenu[i].style.backgroundColor = "#b0b0b0";
       });
   }
</script>
</body>
</html>