<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <nav>
        <!-- Navbar -->
        <div class="layar-dalam">
            <div class="logo">
                <a href=""> <img src="/asset/sijeni-white.png" class="putih" />
                </a>
                <a href=""> <img src="/asset/sijeni-black.png" class="black" />
                </a>
            </div>
            <!--  menu ntar di ganti jadi navbar-->
            <div class="menu">
                <a href="#" class="tombol-menu">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </a>
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#service">Service</a></li>
                    <li><a href="#how-to-oder">How To Oder</a></li>
                    <li><a href="#career">Career</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li><a href="http://localhost:3000/form">Order</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->

    <!-- Video -->
    <div class="layar-penuh">
        <header id="home">
            <div class="overlay"></div>
            <video autoplay muted loop>
                <source src="/asset/video6.mp4" type="video/mp4" />
            </video>
            <div class="intro" id="intro">
                <h3>Visit SIJENI</h3>
                <p>Shipping Excellence Beyond Borders</p>
                <p>
                    <a href="" class="tombol">INFO</a>
                </p>
            </div>
        </header>
        <main>
            <section id="about">   
                    <div class="layar-dalam">
                        <!-- <img src="/asset/img1.jpg" > -->
                    <h3 class="about">About US</h3>
                    <div class="ringkasan-about">
                    <p class="ringkasan">
                        Your Cargo, Our Commitment
                    </p>
                    <div class="konten-isi">
                        <p>
                            SiJeni is an expedition company that has entered the logistics market with bold and ambitious strides, despite being only a month old. Founded by an experienced team with years of expertise in the industry, SiJeni was established with a determination to bring about positive change in the world of expedition. In a short span of time, the company has garnered the attention of customers and business partners alike with its focus on innovation and superior customer service.   </p>
                            <p>
                            SiJeni understands that success in the expedition business hinges on efficiency and timeliness, which forms the core of their operations. By combining state-of-the-art technology with a team of supply chain management experts, SiJeni has successfully delivered efficient and reliable logistics solutions to their clients. Despite its youth, the company has forged an extensive network of logistics and transportation partners, enabling them to tackle any challenges in the realm of cargo delivery. </p>
                            <p>Furthermore, SiJeni is committed to being socially and environmentally responsible. They practice sustainability in their operations, aiming to reduce environmental impact while supporting the local community. With a strong spirit of innovation and dedication to customer satisfaction, SiJeni has cemented its position as an undeniable player in the competitive expedition industry. They are poised to face both challenges and opportunities in the future, while continually enhancing their services for the benefit of customers and sustainable business growth. </p>
                      
                    </div>
                    </div>
                </div>
            </section>
            <section class="grey" id="service">

                    <h3> Services </h3>
               
                <div class="layar-dalam service">
                    <div>
                        <img src="/asset/service1.png">
                        <h5>Regular</h5>
                        <p>
                            Regular delivery service is a standard option that offers delivery of goods in a time that 
                            usually takes a few days or more, depending on the distance and destination of the shipment. 
                            This service is suitable for shipments that do not require immediate delivery and are prioritized 
                            to save costs.
                        </p>
                    </div>
                    <div>
                        <img src="/asset/service2.png">
                        <h5>Express</h5>
                        <p>
                            Express delivery services are options designed to deliver items quickly. Express delivery can 
                            reach the destination within one to two business days, depending on the location and service 
                            provider. This service is suitable for situations where speed of delivery is critical, such 
                            as urgent document deliveries or items that need to arrive quickly.
                        </p>
                    </div>
                    <div>
                        <img src="/asset/service3.jpg">
                        <h5>Same Day</h5>
                        <p>
                            Same day delivery service is the fastest option, where the item or package is delivered on the 
                            same day as the shipment. This is the fastest solution for very urgent delivery needs. This 
                            service can only be used for deliveries within the same province.
                        </p>
                    </div>
                </div>
            </section>
            <div class=" how-to-oder" id="how-to-oder">
                <h3>
                How To Oder </h3>
                <div class="ringkasan-about">
                    <p class="ringkasan-order">
                        You can see the steps on how to send goods with SiJeni 
                    </p>
                </div>
            </div>
            <section id="order"> 
                <div>
                    <img src="/asset/order1.png">
                    <h5>Fill in the delivery form </h5>
                </div>
                <div>
                    <img src="/asset/order2.png">
                        <h5>Hand over the package to the drop point</h5>
                </div>
                <div>
                    <img src="/asset/order3.png">
                        <h5>The package will be delivered to the destination</h5>
                </div>
                <div>
                    <img src="/asset/order4.png">
                        <h5>Package delivered</h5>
                </div>
            </section>
            <section class="motto">
                <div class="layar-dalam">
                    <p>" Shipping Excellence Beyond Borders "</p>
                </div>
            </section>
            <section id="about">   
                <div class="layar-dalam" id="career">
                 
                <h3 class="about">Career</h3>
                <div class="ringkasan-about">
                    
                <p class="ringkasan">
                    excited to pursue your career in this industry and contribute to the company's growth
                </p>
                <div class="konten-isi">
                    <div class="career">
                        <img src="/asset/career2.jpg">
                    </div>
                    <p>
                        SiJeni is a newly established and rapidly growing logistics company, actively seeking talented individuals to join our team. We are a passionate company that places a strong emphasis on innovation, efficiency, and outstanding customer service  in all that we do.Career opportunities at SiJeni are diverse. You can join us in various roles, ranging from logistics and supply chain management to information technology, marketing, and customer service. We provide opportunities for growth and encourage you to pursue your passions within a supportive professional environment. <p>
                        
                        We believe that our company's success relies on a dedicated, creative, and visionary team that aims to make a positive impact. At SiJeni, you will have access to the latest technology and in-depth training. We also offer career development programs designed to help you reach your full potential. Furthermore, we highly value our company culture, including integrity, teamwork, and a commitment to sustainability. Join us, and you will become part of a forward-thinking team that influences the expedition industry and creates a better future in logistics. If you aspire to have a career in a dynamic, innovative company with opportunities to shape the future of the industry, SiJeni is the right place for you. Discover your career opportunities with us today and become a part of our journey towards greater success.</p>
                  
                </div>
                </div>
            </div>
        </section>
        </main>
        <footer id="contact">
            <div class="layar-dalam">
                <div>
                    <h5>SiJeni</h5>
                    Shipping Excellence Beyond Borders.
                </div>
                <div>
                    <h5>About</h5>
                    The best choice for your shipping needs with efficient, safe, and affordable shipping solutions.
                </div>
                <div>
                    <h5>Contact</h5>
                    customercare@jeni.com <br> 021-2345-6789
                </div>
                <div>
                    <h5>Address</h5>
                    Jl. Indonesia Raya No. 178
                </div>
            </div>
            <div class="layar-dalam">
                <div class="copyright">
                    &copy; 2023 <b>SiJeni</b> All right reserved.
                </div>
            </div>
        </footer>
    </div>

    <!-- End Video -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="/controller/javascript.js"></script>
</body>

</html>
